In [ ]:
#Домашнее задание к лекции "Базовые понятия статистики"¶

In [2]:
#Задание 1. Загрузка данных

'''Изучить представленный набор данных на основе описания его столбцов, 
загрузить его и оставить 8 столбцов для дальнейшего изучения: 
surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

'''


import pandas as pd
import numpy as np

df = (pd.read_csv('C:\\Users\\Оляша\\Desktop\\Netology\\DZ\\3_Statistics\\1_Statistics_basics\\horse_data.csv', 
                  header = None, usecols=[0, 1, 3, 4, 5, 6, 10, 22]))

df.columns = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome'] 

     

df.head(10)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2
5,2,1,?,?,?,2,2,1
6,1,1,37.90,48,16,1,3,1
7,1,1,?,60,?,3,?,2
8,2,1,?,80,36,3,4,3
9,2,9,38.30,90,?,1,5,1

In [4]:
#Задание 2. Первичное изучение данных

'''Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.'''

'''При анализе значений по столбцам обнаружены пропуски данных, обозначенные символами "?", 
а значит необходимо от них избавиться (замена на None)'''

def change_item(item):
    if item=='?':
        item = np.NaN
    return item


df =  df.applymap(change_item)

df.info()
'''
Обнаружено, что во всех столбцах, кроме Age, данные нечисловые, следовательно, 
для дальнейшего расчета базовых статистик необходимо это исправить с помощью метода to_numeric 
(значения None будут считаться отсутствующими)
'''

df_numeric = df.apply(pd.to_numeric, errors='coerce') 

#Рассчет базовых статистик

median = df_numeric.median().to_frame().unstack().unstack()#переводим Series в df и транспонируем 
median.index = ['median']
mode = df_numeric.mode()
mode.index = ['mode']
variance = df_numeric.var().to_frame().unstack().unstack()
variance.index = ['variance']

#Свод базовых статистик в один датафрейм для наглядности
df_stat0 = pd.concat([df_numeric.describe(), median, mode,variance]) 

df_stat0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    object
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    object
 3   pulse                       276 non-null    object
 4   respiratory rate            242 non-null    object
 5   temperature of extremities  244 non-null    object
 6   pain                        245 non-null    object
 7   outcome                     299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.9+ KB

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.000000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.951020,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.307940,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000
median,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.000000,1.000000
mode,1.000000,1.000000,38.000000,48.000000,20.000000,3.000000,3.000000,1.000000
variance,0.240399,4.726154,0.536247,819.708775,311.248328,1.092137,1.710706,0.543445

In [5]:
#Поиск выбросов через межквартальный размах
#Расчет границ для определения выбросов

df_stat0.loc['lower_bound ',] = df_stat0.loc['25%', ] - 1.5*(df_stat0.loc['75%', ] - (df_stat0.loc['25%', ]))
df_stat0.loc['upper_bound ',] = df_stat0.loc['75%', ] + 1.5*(df_stat0.loc['75%', ] - (df_stat0.loc['25%', ]))

df_stat0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.000000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.951020,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.307940,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000
median,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.000000,1.000000
mode,1.000000,1.000000,38.000000,48.000000,20.000000,3.000000,3.000000,1.000000
variance,0.240399,4.726154,0.536247,819.708775,311.248328,1.092137,1.710706,0.543445
lower_bound,-0.500000,1.000000,36.750000,-12.000000,-7.750000,-2.000000,-1.000000,-0.500000
upper_bound,3.500000,1.000000,39.550000,148.000000,62.250000,6.000000,7.000000,3.500000

In [6]:
'''
Проверка на выбросы столбца surgery?
Исходя из описания данных выбросами по столбцу surgery? могут быть значения, отличные от 1 и 2. 
Учитывая, что по данному столбцу min = 1 и max = 2, выбросами могут быть значения, являющиеся действительными числами'''
df_numeric['surgery?'].unique() 
#df_numeric_surgery_outliers = df_numeric['surgery?'].apply(lambda x: (x/10) - 1 > 0)
#df_numeric_surgery_outliers

#Выбросы отсутствуют

array([ 2.,  1., nan])

In [7]:
'''Проверка на выбросы столбца Age по той же логике'''
df_numeric.Age.unique()
'''В описании указано, что в данном столбце могут быть значения 1(взрослые лошади) и 2(жеребята), а по факту - 1 и 9.
Вероятно, закралась опечатка, поскольку физиологические данные лошадей с Age == 9 близки к жеребятам.
Для более корректного анализа физиологических показателей можно разбить данные исходя из возрастных групп лошадей
'''
df_foals = df_numeric[df_numeric["Age"] == 9]
df_horse = df_numeric[df_numeric["Age"] == 1]
df_foals

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [8]:
'''Проверка на выбросы столбца rectal temperature отдельно по лошадям и жеребятам'''

remove_outliers = df_foals [df_foals ['rectal temperature'].between(df_stat0.loc['lower_bound ','rectal temperature'], df_stat0.loc['upper_bound ','rectal temperature'], inclusive=True)].sort_values('rectal temperature')
#pd.set_option('display.max_rows', None)
pd.concat([df_foals , remove_outliers]).drop_duplicates(keep=False)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0

In [9]:
remove_outliers = df_horse[df_horse['rectal temperature'].between(df_stat0.loc['lower_bound ','rectal temperature'], df_stat0.loc['upper_bound ','rectal temperature'], inclusive=True)].sort_values('rectal temperature')

df_notna = pd.concat([df_horse, remove_outliers]).drop_duplicates(keep=False)
df_notna[df_notna['rectal temperature'].notna()]

'''Данные по строке 20 вызывают сомнения, поскольку при высокой ректальной температутре (39.9) 
температура конечностей признана нормальной, хотя данные коррелированны, 
значит либо ректальная температура, либо  температура конечностей  указана ошибочно
Изучив данную выборку, обнаружено, что строка 20 практически идентична строке 118 в части всех показателей.
Таким образом, значение температуры 39.9 скорее всего является опечаткой и корректным является значение 36.9'''

df_horse.at[20, 'rectal temperature'] = 36.9
df_horse

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [10]:
'''Проверка на выбросы столбца pulse отдельно по лошадям и жеребятам'''
remove_outliers = df_foals [df_foals ['pulse'].between(df_stat0.loc['lower_bound ','pulse'], df_stat0.loc['upper_bound ','pulse'], inclusive=True)].sort_values('pulse')

pd.concat([df_foals , remove_outliers]).drop_duplicates(keep=False)

#Значения пульса высокие, однако данные значения в большинстве присущи жеребятам, которые погибли (outcome = 2)
#cледовательно, выбросы отсутствуют. 
#Замена данных столбца outcome по строке 41 производится не будет, 
#поскольку в отличие от других элементов выборки в данной строке surgery? = 2 (то есть не было операции у жеребенка)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [11]:
remove_outliers = df_horse[df_horse['pulse'].between(df_stat0.loc['lower_bound ','pulse'], df_stat0.loc['upper_bound ','pulse'], inclusive=True)].sort_values('pulse')

df_notna = pd.concat([df_horse, remove_outliers]).drop_duplicates(keep=False)

df_notna[df_notna['pulse'].notna()]
#Выбросы отсутствуют

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [12]:
'''Проверка на выбросы столбца respiratory rate отдельно по лошадям и жеребятам'''
remove_outliers = df_foals [df_foals ['respiratory rate'].between(df_stat0.loc['lower_bound ','respiratory rate'], df_stat0.loc['upper_bound ','respiratory rate'], inclusive=True)].sort_values('respiratory rate')

df_notna = pd.concat([df_foals , remove_outliers]).drop_duplicates(keep=False)
df_notna[df_notna['respiratory rate'].notna()]

#Поскольку в описании к данному столбцу указано, что данным свойственны высокие колебания, 
#предположим, что выбросы отсутствуют

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0

In [13]:
remove_outliers = df_horse[df_horse['respiratory rate'].between(df_stat0.loc['lower_bound ','respiratory rate'], df_stat0.loc['upper_bound ','respiratory rate'], inclusive=True)].sort_values('respiratory rate')

df_notna = pd.concat([df_horse, remove_outliers]).drop_duplicates(keep=False)
df_notna[df_notna['respiratory rate'].notna()]

#Поскольку в описании к данному столбцу указано, что данным свойственны высокие колебания, 
#предположим, что выбросы отсутствуют

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [14]:
'''
Проверка на выбросы столбца temperature of extremities
Исходя из описания данных выбросами по столбцу temperature of extremities могут быть значения, отличные от 1 .. 4. 
Учитывая, что по данному столбцу min = 1 и max = 4, выбросами могут быть значения, являющиеся действительными числами'''

df_numeric['temperature of extremities'].unique()

#Выбросы отсутствуют

array([ 3., nan,  1.,  4.,  2.])

In [15]:
'''
Проверка на выбросы столбца pain
Исходя из описания данных выбросами по столбцу pain могут быть значения, отличные от 1 .. 5. 
Учитывая, что по данному столбцу min = 1 и max = 5, выбросами могут быть значения, являющиеся действительными числами'''

df_numeric['pain'].unique()

#Выбросы отсутствуют

array([ 5.,  3.,  2., nan,  4.,  1.])

In [16]:
'''
Проверка на выбросы столбца outcome
Исходя из описания данных выбросами по столбцу outcome могут быть значения, отличные от 1 .. 3. 
Учитывая, что по данному столбцу min = 1 и max = 3, выбросами могут быть значения, являющиеся действительными числами'''

df_numeric['outcome'].unique()

#Выбросы отсутствуют

array([ 2.,  3.,  1., nan])

In [17]:
'''Расчет базовых статистик для выборок "взрослые лошади" и "жеребята"'''

median = df_foals.median().to_frame().unstack().unstack()#переводим Series в df и транспонируем 
median.index = ['median']
mode = df_foals.mode()
mode.index = ['mode', 'mode', 'mode', 'mode']
variance = df_foals.var().to_frame().unstack().unstack()
variance.index = ['variance']

#Свод базовых статистик в один датафрейм для наглядности
df_stat1 = pd.concat([df_foals.describe(), median, mode, variance]) 

df_stat1

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,24.000000,24.0,20.000000,22.000000,20.000000,16.000000,17.000000,24.000000
mean,1.250000,9.0,38.645000,123.363636,54.600000,2.125000,3.117647,1.541667
std,0.442326,0.0,0.490408,28.628234,23.904195,1.087811,1.218726,0.588230
min,1.000000,9.0,38.000000,84.000000,20.000000,1.000000,1.000000,1.000000
25%,1.000000,9.0,38.275000,100.000000,34.500000,1.000000,2.000000,1.000000
50%,1.000000,9.0,38.600000,124.000000,49.000000,2.500000,3.000000,1.500000
75%,1.250000,9.0,38.925000,144.500000,74.000000,3.000000,4.000000,2.000000
max,2.000000,9.0,39.700000,184.000000,96.000000,4.000000,5.000000,3.000000
median,1.000000,9.0,38.600000,124.000000,49.000000,2.500000,3.000000,1.500000
mode,1.000000,9.0,38.800000,100.000000,28.000000,1.000000,2.000000,1.000000
mode,NaN,NaN,NaN,NaN,30.000000,3.000000,3.000000,NaN
mode,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,NaN
mode,NaN,NaN,NaN,NaN,84.000000,NaN,NaN,NaN
variance,0.195652,0.0,0.240500,819.575758,571.410526,1.183333,1.485294,0.346014

In [18]:
median = df_horse.median().to_frame().unstack().unstack()#переводим Series в df и транспонируем 
median.index = ['median']
mode = df_horse.mode()
mode.index = ['mode', 'mode']
variance = df_horse.var().to_frame().unstack().unstack()
variance.index = ['variance']

#Свод базовых статистик в один датафрейм для наглядности
df_stat2 = pd.concat([df_horse.describe(), median, mode, variance]) 

df_stat2

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,275.000000,276.0,220.000000,254.000000,222.000000,228.000000,228.000000,275.000000
mean,1.410909,1.0,38.110909,67.456693,28.238739,2.364035,2.938596,1.552727
std,0.492896,0.0,0.730715,23.933953,15.251192,1.042669,1.316015,0.749660
min,1.000000,1.0,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.0,37.700000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.0,38.100000,60.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.0,38.500000,84.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,1.0,40.800000,140.000000,96.000000,4.000000,5.000000,3.000000
median,1.000000,1.0,38.100000,60.000000,24.000000,3.000000,3.000000,1.000000
mode,1.000000,1.0,38.000000,48.000000,20.000000,3.000000,3.000000,1.000000
mode,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,NaN
variance,0.242946,0.0,0.533944,572.834085,232.598855,1.087159,1.731896,0.561991

In [19]:
#Задание 3. Работа с пропусками
"""Рассчитать количество пропусков для всех выбранных столбцов. 
Принять и обосновать решение о методе заполнения пропусков по каждому столбцу 
на основе рассчитанных статистик и возможной взаимосвязи значений в них. 
Сформировать датафрейм, в котором пропуски будут отсутствовать"""


#Обработаем пропуски в датафреме жеребят
df_foals.isna().sum() #количество NaN значений в датафрейме по жеребятам (Age = 9)
#(df_numeric.isna().mean() * 100).round(2) #процентное отношение NaN к общему числу элементов

#df_numeric[df_numeric.isnull().any(1)]

surgery?                      0
Age                           0
rectal temperature            4
pulse                         2
respiratory rate              4
temperature of extremities    8
pain                          7
outcome                       0
dtype: int64

In [92]:
'''
Исключим строки, которые содержат пропуски по столбцам: 
rectal temperature,pulse, respiratory rate, temperature of extremities, 
поскольку одновременное отсутствие этих данных приводит к потере информативности всего представленного набора данных
и невозможности заполнить пропуски на основе корреляции. 
Кроме того, указанные строки не окажут влияния на расчет базовых статистик указанных столбцов, 
содержащих наиболее значимые характеристики для рассматриваемого набора данных
'''
df_clean_foals = df_foals.copy().dropna(how = 'all', subset=['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities'])

#df_numeric[df_numeric['rectal temperature'].isnull()& df_numeric['pulse'].isnull()&df_numeric['respiratory rate'].isnull()&df_numeric['temperature of extremities'].isnull()]
#df_clean_foals[df_clean_foals.isnull().any(1)]


#Поскольку значения respiratory rate имеют высокие колебания, то заменим пропуски в данном столбце на медиану, 
#чтобы минимизировать влияние на базовые статистики

df_clean_foals['respiratory rate'].fillna(df_clean_foals['respiratory rate'].median(), inplace=True)



#заменим пропуски в столбце rectal temperature на медиану, чтобы минимизировать влияние на базовые статистики

df_clean_foals['rectal temperature'].fillna(df_clean_foals['rectal temperature'].median(), inplace=True)

#df_clean_foals.groupby(['rectal temperature', 'temperature of extremities']).count()

#Поскольку rectal temperature и temperature of extremities коррелированы, 
#то пропуски temperature of extremities можно заменить исходя из имеющихся значений rectal temperature


#df_clean_foals["temperature of extremities"].fillna(df_clean_foals.groupby(["rectal temperature"])["temperature of extremities"].transform(lambda x: x.mode()[0]))

df_clean_foals



#df_clean_foals_groups["temperature of extremities"].fillna(method='bfill', inplace=True)
#df_clean_foals_groups

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,49.0,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,38.6,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
75,1.0,9,39.7,100.0,49.0,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,38.6,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [119]:
df_clean_foals1 = df_clean_foals.groupby(["rectal temperature"])['temperature of extremities'].agg(pd.Series.mode())
df_clean_foals1

TypeError: mode() missing 1 required positional argument: 'self'

In [ ]:
print(titanic.groupby(['Sex', 'Pclass'])['Age'].median())
fill_median_by_groups = pd.read_csv('titanic.csv')
fill_median_by_groups['Age'].fillna(titanic.groupby(['Sex', 'Pclass'])['Age'].transform('median'), inplace=True)

In [136]:
df_horse.isna().sum() #количество NaN значений в датафрейме по лошадям (Age = 1)

surgery?                       1
Age                            0
rectal temperature            56
pulse                         22
respiratory rate              54
temperature of extremities    48
pain                          48
outcome                        1
dtype: int64

NameError: name 'df_foals' is not defined